language: python
sudo: required

matrix:
  include:
    - dist: trusty
      python: 2.7
      env: dist="14.04 LTS trusty"
    - dist: trusty
      python: 3.6
      env: dist="14.04 LTS trusty"

before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq vlan
- pip install matplotlib || pip3 install matplotlib
- PYTHON=`which python`

install:
- pip install pexpect || pip3 install pexpect
- sudo util/install.sh -Wlnfv6

script:
- sudo mn --wifi --test pingall
- sudo python mn_wifi/test/runner.py -v -quick

notifications:
  email:
    on_success: never
# More details: https://docs.travis-ci.com/user/notifications#Configuring-email-notifications
