#!/usr/bin/make -f

%:
	dh $@ --buildsystem=python_distutils --with=python2 # For use Python 2.
	dh $@ --buildsystem=python_distutils --with=python3 # For use Python 3.

override_dh_auto_build:
	make man
	make mnexec
	dh_auto_build

get-orig-source:
	uscan --force-download --rename
